script( src="/socket.io/socket.io.js" )
script( src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
script( src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" )
link( rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' )

script( type='text/javascript' ).
  $(function() {
    var socket = io.connect();
    socket.on('connect', function(data) {
      nickname = prompt('Whats your nickname ?');
      socket.emit('join', nickname);
    });
    socket.on('messages', function(data){
      $('.messages-box').append('<blocknote><p>' + data + '</p></blocknote>');
    });
    $('#chat_input').on('keypress', function(e){
      if (e.which == 13) {
        $('#submit').click();
        $(this).val('');
      }
    });
    $('#submit').on('click', function(e) {
      e.preventDefault();
      var message = $('#chat_input').val();
      socket.emit('messages', message);
    });
  });

div( class="container" )
  div( class="panel panel-default" )
    div( class="panel-heading" )
      div( class="panel-title" ).
        CMPT 120 WEB CHAT by Victor Andrey(vaot)
    div( class="panel-body" )
      div( class='messages-box' )
      div( class="input-group" )
        input( type='text', class='form-control', id='chat_input' )
        span( class='input-group-btn' )
          button( class='btn btn-primary', type='button', id='submit' ) Send
